.about_us {
  width: 100%;
  height: 100vh;
  background-color: #20201f;
  color: #e9764e;
}

.our--chefs {
  display: grid;
  text-align: center;
}

.img--chef {
  width: 100%;
  max-width: 250px;
  border-radius: 100px;
}

.our__chefs__grid {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 50%;
  text-transform: capitalize;
}

.info--top h1 {
  font-size: 5rem;
  text-transform: capitalize;
}

.info--top p {
  font-size: 1.3rem;
}

/* icons */
.icon-5 {
  position: relative;
  width: 70px;
  float: right;
  top: 30%;
}
.icon-4 {
  position: relative;
  width: 70px;
  top: 30%;
  left: 45px;
}
.icon-3 {
  position: relative;
  width: 70px;
  top: 10%;
  left: 190px;
}

.icon-1 {
  position: relative;
  width: 70px;
  top: 20%;
  left: 30%;
}
.icon-2 {
  position: relative;
  width: 70px;
  left: 10px;
  top: 25%;
}
.icon-6 {
  position: relative;
  width: 70px;
  float: right;
  margin-right: 150px;
  top: 20%;
}

/* statistics */

.statistics {
  width: 100%;
  height: 100vh;
  background-color: #e9764e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.stats {
    position: relative;
    top: -120px;
}

.stats h1 {
    font-size: 4rem;
    position: relative;
    margin-bottom: 30px;

}

.stats p {
    font-size: 1.3rem;
}

.statistics--itens {
    display: flex;
    justify-content: space-between;
}

.statistics--iten {
    border: 10px solid #fff;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    border-radius: 100%;
}

.statistics--iten h1 {
    font-size: 6rem;
    text-transform: uppercase;
    position: relative;
    top: 25%;
}

.statistics--iten h3 {
    text-transform: uppercase;
    position: relative;
    top: 25%;
}
