.navbar {
    position: fixed;
    z-index: 3;
    width: 100%;
}

.nav {
    display: flex ;
    justify-content: space-evenly ;
    align-items: center;
}

.logo {
    width: 70px;
    position: relative;
    padding: 10px;
    user-select: none;
}

.nav__iten {
    display: flex;
    column-gap: 50px;
}

.nav__itens {
    color:#e9764e;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
}

.nav__itens:hover {
    transition: .5s;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 800;
}

.active {
    color: rgb(255, 255, 255);
}

.logo--section {
    display: flex;
}

.logo--section h2 {
    color:#e9764e;
    position: relative;
    top: 25px;
    font-weight: 500;
    text-transform: uppercase;
}